[Unit]
Description=Runs set-hyprsunset every 30 minutes
Requires=set-hyprsunset.service

[Timer]
OnActiveSec=10sec
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
