[Unit]
Description=Display Temperature and Brightness Cycle
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/home/diego/.local/bin/set-hyprsunset.sh
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="WAYLAND_DISPLAY=wayland-1"

[Install]
WantedBy=default.target
