[Unit]
Description=Checks battery status every second

[Timer]
OnActiveSec=5s
OnUnitActiveSec=5s
AccuracySec=1s
Persistent=true
Unit=battery-notification.service

[Install]
WantedBy=timers.target
